
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .box {
  width: 450px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
}
.container .box .title .block {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.container .box .title h1 {
	cursor: default;
  font-family: 'Poppins';
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
}
.container .box .title h1 span {
	cursor: default;
  color: #ffb510;
}
.container .box .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -3px;
}
.container .box .role .block {
  width: 0%;
  height: inherit;
  background: #e91e63;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  display: flex;
}
.container .box .role p {
	cursor: default;
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: 'ADayInAutumn';
  color: #ffffff;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@font-face{
	font-family: 'ADayInAutumn';
	src : url('Louis George Cafe Italic.ttf');
}


html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
	font-family: 'Montserrat', sans-serif;
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.typer-target {
	animation: blink-caret 0.5s step-end infinite alternate;
  border-right: 1px solid #fafafa;
	color: #ffffff;
	font-size: 50px;
  font-weight: bold;
	line-height: normal;
	margin: 0;
	margin-right: 80px;
	margin-bottom: 80px;
	display: inline-block;
}

.typer-target > span {
	font-weight: 300;
}

main {
	position: absolute;
	right: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 50px;
	bottom: 0;
	cursor: default;
}



.btn-run:active {
	box-shadow: inset 0 3px 5px 0px rgba(0, 0, 0, .1);
}

